<!DOCTYPE HTML>
<html>

    <head>
        <title>404 Error - Page Not Found</title>
        <style>
            #ad_frame{ height:800px; width:100%; }
            body{ margin:0; border: 0; padding: 0; }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" language="JavaScript">
            var url = 'http://www.iyfipgun.com/?dn='
                + document.domain + '&pid=9POL6F2H4';

            $(document).ready(function() {
                $('#ad_frame').attr('src', url);
            });
        </script>
    </head>
    <body>
        <iframe id="ad_frame" src="http://www.iyfipgun.com/"
            frameborder="0" scrolling="no">

            <!-- browser does not support iframe's -->

        </iframe>
    </body>

</html>
<!--
     FILE ARCHIVED ON 16:42:34 Aug 31, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:10:29 Jun 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 105.012
  exclusion.robots: 0.376
  exclusion.robots.policy: 0.35
  esindex: 0.019
  cdx.remote: 31.203
  LoadShardBlock: 108.96 (3)
  PetaboxLoader3.datanode: 119.608 (5)
  PetaboxLoader3.resolve: 177.226 (3)
  load_resource: 264.954 (2)
-->